<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div><h1>Điền ngày tháng vào đây</h1>


    <label for="month">tháng</label>
    <input type="text" id="month"><br>
    <label for="day">ngày</label>
    <input type="text" id="day">
    <button id="submit" onclick="abc()">gotcha</button>
    <br>
    <h1 id="name"></h1>
    <p id="des"></p>
    <p id="aaaa"></p>
</div>
<script type="text/javascript" src="../static/js.js"></script>
</body>
</html>