<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update a game</title>
</head>
<body>
<h1>Now update {{ object["name"] }}</h1>
    <form method="post" action="">
        <lable for="name">name</lable>
        <br>
        <input type="text" name="name"><br>

        <lable for="des">description</lable>
        <br>
        <input type="text" name="des"><br>
        <lable for="img">img url</lable>
        <br>
        <input type="text" name="img"><br>
        <lable for="name">link</lable>
        <br>
        <input type="text" name="link"><br>

        <input type="submit">

    </form>

</body>
</html>