<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button onclick="loadData()" >f5</button><br>
<input id="game-name" type="text" placeholder="Name"><br>
<input id="game-img" type="text" placeholder="Img"><br>
<input id="game-desc" type="text" placeholder="desc"><br>
<input id="game-link" type="text" placeholder="link"><br>
<button onclick="addData()">plus</button><br>
<input id="game-id" type="text" placeholder="id"><br>
<button onclick="deleteData()">delete</button><br>
<button onclick="updateData()">update</button><br>
<div id="data-list" >

</div>
<script src="../static/main.js" ></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</body>
</html>